#board {
  margin: 0 auto;
}
#board, #board td {
  border: 1px solid black;
}
#board td {
  padding: 10px;
}
#board td.black {
  background: #ccc;
}
#board .square {
  height: 58.5px;
  width: 58.3px;
}
#board .square.moveable {
  background: yellow;
}
#board .square.killable {
  background: green;
}
#board .square.live {
  background: red;
}
.piece {
  background-image: url(../img/Chess_Pieces_Sprite.svg.small.png);
  background-repeat: no-repeat;
  height: 58.5px;
  width: 58.3px;
}
.piece.king.black {
  background-position: 0 -58.5px;
}
.piece.king.white {
  background-position: 0 0;
}
.piece.queen.black {
  background-position: -58.3px -58.5px;
}
.piece.queen.white {
  background-position: -58.3px 0;
}
.piece.bishop.black {
  background-position: -116.6px -58.5px;
}
.piece.bishop.white {
  background-position: -116.6px 0;
}
.piece.knight.black {
  background-position: -174.9px -58.5px;
}
.piece.knight.white {
  background-position: -174.9px 0;
}
.piece.rook.black {
  background-position: -233.2px -58.5px;
}
.piece.rook.white {
  background-position: -233.2px 0;
}

#history {
  border: 1px solid #ccc;
  height: 100px;
  overflow: auto;
}
#history .move {
  margin: 2px;
  padding: 2px;
  text-align: center;
}
#history .black {
  background: black;
  color: white;
}

#captures {
  border: 1px solid #ccc;
  height: 200px;
  overflow: auto;
}
